body{
	font-family: 'Montserrat';
}
html{
	overflow-x: hidden;
}
td{
	font-size: 1rem;	
}
td.middle{
	width: 500px;
}
td.pad, th.pad{
	padding-left: 60px;
}
img{
	inline-size: 9rem;
	border-radius: 20px;
}
img.logotype{
	inline-size: 3em;
}

.progressbar-full{
	width: 150px;
	height: 25px;
	background-color: #9fa3a8;
	border-radius: 12px;
}
.progress-percentage-1{
	width: 100%;
	height: 25px;
	background-color: #e5233d;
	border-radius: 12px;
}
.progress-percentage-2{
	width: 89%;
	height: 25px;
	background-color: #dda73a;
	border-radius: 12px;
}
.progress-percentage-3{
	width: 80%;
	height: 25px;
	background-color: #4ca146;
	border-radius: 12px;
}
.progress-percentage-4{
	width: 70%;
	height: 25px;
	background-color: #c7212f;
	border-radius: 12px;
}
.progress-percentage-5{
	width: 50%;
	height: 25px;
	background-color: #ef402d;
	border-radius: 12px;
}
.progress-percentage-6{
	width: 61%;
	height: 25px;
	background-color: #27bfe6;
	border-radius: 12px;
}
.progress-percentage-7{
	width: 50%;
	height: 25px;
	background-color: #fbc412;
	border-radius: 12px;
}
.progress-percentage-8{
	width: 50%;
	height: 25px;
	background-color: #a31c44;
	border-radius: 12px;
}
.progress-percentage-9{
	width: 50%;
	height: 25px;
	background-color: #f26a2e;
	border-radius: 12px;
}
.progress-percentage-10{
	width: 50%;
	height: 25px;
	background-color: #e6137c;
	border-radius: 12px;
}
.progress-percentage-11{
	width: 50%;
	height: 25px;
	background-color: #f89d2a;
	border-radius: 12px;
}
.progress-percentage-12{
	width: 50%;
	height: 25px;
	background-color: #bf8d2c;
	border-radius: 12px;
}
.progress-percentage-13{
	width: 50%;
	height: 25px;
	background-color: #3d7f44;
	border-radius: 12px;
}
.progress-percentage-14{
	width: 50%;
	height: 25px;
	background-color: #1f97d4;
	border-radius: 12px;
}
.progress-percentage-15{
	width: 50%;
	height: 25px;
	background-color: #59ba47;
	border-radius: 12px;
}

.progress-percentage-16{
	width: 50%;
	height: 25px;
	background-color: #136a9f;
	border-radius: 12px;
}
.progress-percentage-17{
	width: 50%;
	height: 25px;
	background-color: #14496b;
	border-radius: 12px;
}

