
body, html{
	font-family: 'Montserrat';
	background-color: indianred;
}
h1{
	margin: 20px 5px;
	font-size: 3.2em;
	color: #fff;
	font-weight: 600;
}
p{
	color: #fff;
	margin: 15px 10px;
}
.box1{
  width: 580px;
  height: 240px;
  padding: 10px;
  border: 5px solid #fff;
  background-color: green;
}
.box2{
  width: 580px;
  height: 240px;
  padding: 10px;
  border: 5px solid #fff;
  margin: -5px 0 0 0px;
  background-color: red;
}
.wrapper{
	margin: 0 0 0 5px;
	width: 588px;
  height: 483px;
	border: 4px solid #000;
  box-sizing: border-box;
}